{% extends 'base.html.twig' %}

{% block title %}Genus {{ genus.name }}{% endblock %}

{% block body %}
    <h2 class="genus-name">{{ genus.name }}</h2>

    <div class="sea-creature-container">
        <div class="genus-photo"></div>
        <div class="genus-details">
            <dl class="genus-details-list">
                <dt>Subfamily:</dt>
                <dd>{{ genus.subFamily }}</dd>
                <dt>Known Species:</dt>
                <dd>{{ genus.speciesCount | number_format }}</dd>
                <dt>Fun Fact:</dt>
                <dd>{{ genus.funFact }}</dd>
                <dt>Recent Notes:</dt>
                <dd>{{ recentNotesCount }}</dd>
            </dl>
        </div>
    </div>
    <div id="js-notes-wrapper">
        <notes></notes>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.5.9/vue.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.js"></script>
    <script>
        var notesUrl = '{{ url('genus_show_notes', {'name': genus.name}) }}';

        Vue.component('notes', {
            template: `
                <div>
                    <div class="notes-container">
                        <h2 class="notes-header"">Notes</h2>
                        <div><i class="fa fa-plus plus-btn"></i></div>
                    </div>
                    <section id="cd-timeline">
                        <div class="cd-timeline-block" v-for="note in this.notes">
                            <div class="cd-timeline-img"><img :src="note.avatarUri" class="img-circle" alt="Leanna!"></div>
                            <div class="cd-timeline-content">
                                <h2><a href="javascript:void(0)" v-text="note.username"></a></h2>
                                <p v-text="note.note"></p>
                                <span class="cd-date" v-text="note.date"></span>
                            </div>
                        </div>
                    </section>
                </div>
            `,
            data: function () {
                return {
                    notes: []
                }
            },
            methods: {
                getAllNotes: function () {
                    let $this = this;
                    axios.get(notesUrl)
                        .then(function (response) {
                            $this.notes = response.data.notes;
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                }
            },
            mounted: function () {
                var $_this = this;
                setInterval(function () {
                    $_this.getAllNotes();
                }, 1000);
            }
        });

        new Vue({
            el: '#js-notes-wrapper'
        });
    </script>

{% endblock %}
